<?xml version="1.0"?>
<launch>

    <!-- these are the arguments you can pass this launch file, for example paused:=true -->
    <arg name="world" value="worlds/empty.world"/>
    <arg name="pause" default="false"/>
    <arg name="gui" default="true"/>
    <arg name="debug" default="false"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world)"/> <!-- Note: the world_name is with respect to GAZEBO_RESOURCE_PATH environmental variable -->
        <arg name="debug" value="$(arg debug)"/>
        <arg name="gui" value="$(arg gui)"/>
        <arg name="paused" value="$(arg pause)"/>
    </include>

		<include file="$(find teleop_twist_joy)/launch/teleop.launch">
  	</include>
		
    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0.5"/>
		<arg name="sdf_robot_file" default="$(find robot_description)/urdf/2wheel/model.sdf" />

    <node name="mybot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
        args="-file $(arg sdf_robot_file) -sdf -model default -x $(arg x) -y $(arg y) -z $(arg z)" />

</launch>	
